.sidebar-btn {
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
  padding: 18px;
  cursor: pointer;
  box-sizing: border-box;
  outline: none;
  margin-top: 20px;

  &:fist-child {
    margin-top: 0;
  }

  &:focus {
    background: #EA7C69;
      box-shadow: 0px 8px 24px rgba(234, 124, 105, 0.32);
      border-radius: 8px;
    .btn-icon {
       svg {
         fill: #ffffff;
       }
    }
  }

  .btn-icon {
    svg {
      fill: #EA7C69;
    }
  }
}