.footer-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 195px;
  padding: 24px;
  box-sizing: border-box;
  background: #1F1D2B;
  border-radius: 16px;
  margin-top: 60px;

  img {
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    top: -35px;
  }
  h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    color: #FFFFFF;
    margin-bottom: 8px;
    margin-top: 90px;
    text-align: center;
  }
  span {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    margin-bottom: 4px;
    color: #fff;
  }
  p {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: #ABBBC2;
  }
}