.section-top {
  border-bottom: 1px solid #393C49;

  h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
    color: #FFFFFF;
    margin-bottom: 24px;
  }

  .links {
    margin-bottom: 24px;

    .link {
      text-decoration: none;
      background-color: transparent;
      border-radius: 8px;
      display: inline-block;
      border: 1px solid #393C49;
      margin-right: 10px;

      h4 {
        padding: 7px 12px;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 140%;
        color: #FFFFFF;
        display: inline-block;
        color: #EA7C69;
      }
      &:focus {
        h4 {
          color: white;
        }
        background: #EA7C69;
      }
    }
  }
  .titles {
    display: flex;
    justify-content: space-between;
    padding-bottom: 24px;
    h3 {
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 140%;
      color: #FFFFFF;
    }
    .titles-right {
      display: flex;
      & h3:last-child {
        margin-left: 40px;
      }
    }
  }
}