.main-item {
  
  .item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;

    .item-title {
      h1 {
        font-style: normal;
        font-weight: 600;
        font-size: 28px;
        line-height: 140%;
        color: #FFFFFF;
        margin-bottom: 4px;
      }
      p {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 140%;
        color: #E0E6E9;
      }
    }
    .item-search {
      background: #2D303E;
      border: 1px solid #393C49;
      box-sizing: border-box;
      border-radius: 8px;
      padding: 14px;
      display: flex;
      align-items: center;
  
      img {
        display: inline-block;
        margin-right: 10px;
      }
      input {
        background-color: transparent;
        outline: none;
        border: none;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 140%;
        color: white;
        font-family: 'Heebo', sans-serif;
  
        ::placeholder {
          color: #ABBBC2;
        }
      }
    }
  }
  .buttons {
    border-bottom: 1px solid rgba(77, 80, 92, 0.849);

    a {
      text-decoration: none;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 140%;
      color: #FFFFFF;
      margin-right: 35px;
      display: inline-block;
      position: relative;
      padding-bottom: 13px;
      

      &:focus {
        color: #EA7C69;
        outline: none;
        
        &::before {
          content: "";
          position: absolute;
          width: 37px;
          height: 3px;
          background: #EA7C69;
          border-radius: 20px;
          bottom: -2px;
        }
      }
    }
  }
}