body {
  margin: 0;
  padding: 0;
  font-family: 'Heebo', sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.App {
  display: flex;
  background: #252836;
  .content {
    width: 94%;
  }
}