.section-bottom {

  .discount {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    p{
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 140%;
      color: #ABBBC2;
    }
    h3 {
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 140%;
      color: #FFFFFF;
    }
  }
  button {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
    color: #FAFAFA;
    background: #EA7C69;
    box-shadow: 0px 8px 24px rgba(234, 124, 105, 0.3);
    border-radius: 8px;
    display: block;
    width: 100%;
    padding: 14px;
    border: none;
    margin-top: 40px;
    outline: none;
    cursor: pointer;
  }
}